			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>Map Locator</strong>
								<span class='subline'>Nearby Services</span>
							</div>
						</div>
					</div>
				</div>


				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Nearby Places</li>
				</ul>
				<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Find</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="places.html" data-ajax='false' data-icon="false">View on Map</a></li>
						<li><a href="map.php" data-ajax='false' data-icon="false">View Directions</a></li>
					</ul>
				</div>
				
				
				
				<hr class="inset">
				<ul data-role="listview" data-inset="false">

				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					
					<ul data-role="listview" data-icon="false">
						<li><a href="/info/colors_and_styles.html" data-ajax='false'>Colors &amp; Styles</a></li>
						<li><a href="/info/credits.html" data-ajax='false'>Credits &amp; License</a></li>
					</ul>
				</div>
			</div>
			<!-- /panel left -->
